exa_py
fastapi
mistralai
motor
nest_asyncio
pandas
pydantic
pydantic_ai
python-dotenv
qdrant_client
Requests
sentence_transformers
streamlit
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability